In [7]:
import sqlite3
import pandas as pd

In [8]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("database.sqlite")

In [9]:
# Toon alle countries
pd.read_sql('select * from Country;',con).head()

DatabaseError: Execution failed on sql 'select * from Country;': no such table: Country