In [1]:
import sqlite3
import pandas as pd

In [2]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("f1.sqlite")

In [3]:
# Toon alle countries
pd.read_sql('select * from constructors;',con).head()

,constructorId,constructorRef,name,nationality,url,
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,None
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,None
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,None
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,None
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,None